@import "variables";

footer {
  svg {
    &.icon:hover {
      fill: $color-accent;
    }
    &.icon-github {
      width:60px;
      height:60px;
      position: absolute;
      top: -2px;
      left: -2px;

      &:hover {
        g {
          fill: $color-accent;
        }
      }
    }

    &.icon-mail {
      margin-top:3px;
    }

    &.icon-twitter {
      margin-top:5px;
      margin-left:1px;
    }

    &.icon-xing {
      width:45px;
      height: 45px;
      margin-top:6px;
      margin-left:-6px;
    }
  }

  &.mdl-mini-footer .mdl-logo {
    line-height:55px;
  }
}
