main {
  flex: 1 0 auto;
}

.react-parallax {
  height:600px;
  overflow:hidden;

  img {
    transform: translate3d(0, -134.286px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    height: auto;
    width: 100%;
  }

  @media (max-width: 839px) {
    height:400px;
  }
}

.content {
  margin-top: 5%;
  margin-bottom: 5%;
}