@import './variables';

svg {
  filter: brightness(-1) invert(1);

  &:hover {
    filter: brightness(1) invert(0);
    transition-duration: 0.2s;
  }

  path,
  g {
    //fill:white;
  }

  &.icon {
    width: 50px;
    height: 50px;

    &.icon-typescript {
      fill: #007acc;
    }
    &.icon-linux {
      fill: black;
    }
    &.icon-heart {
      width: 40px;
      height: 40px;
      filter: brightness(1) invert(0);
      fill: $color-accent;
    }

    &.icon-symfony-original {
      &:hover {
        filter: brightness(15) invert(1);
      }
    }
  }
}
