$roboto-font-path: "/build/" !default;
$dark-grey : #424242;


@import "materialize-css/sass/materialize";
@import 'icons.scss';
@import 'content.scss';

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
  flex: 1 0 auto;
 }
